
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

#container{ 
    display: flex;
    justify-content: center;
    gap: 10em;
    margin-left: 4em;
    background-color: #F7F6F4;
}


/*it is the main div*/
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#Header {
    color: #000000;
    font-size: 2em;
}
#continue {
    display: flex;
    flex-wrap: wrap; /* melhora a responsividade */
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin: 40px auto;
    padding: 3em 8em;
    background-color: #80CBC4; /* verde-água */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    max-width: 90%;
    transition: background-color 0.3s ease;
}

#continue h1 {
    font-size: 2em;
    color: #004D40; 
    padding: 0.6em 1.2em;
    background-color: #B2DFDB; 
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#continue h1:hover {
    background-color: #00897B; 
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
}

#continue img {
    width: 4.5em;
    transition: transform 0.3s ease;
    margin-right: 4em;
}


#modules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

#containerProgress {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFD;
    margin-top: 5em;
    width: 25em;
    padding: 0em;
    padding-top: 1em;
    align-items: center;
    position: relative;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#userName  {
    margin-top: 10px;
    }
#progress-bar-title {
    margin-top: 2em;
}

#progress-bar {
    margin-top: 1em;
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 25px;
    overflow: hidden;
}


#userProgress img {
    width: 9em;
    margin-left: 30px;

}


#progress {
    height: 100%;
    background-color: #64E688;
    border-radius: 10px;
    transition: width 0.4s ease;
}

#progress h5 {
    
    font-size: 17px;
    color: #00450a;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3px;

}

#achievements {
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
    font-size: 30px;
    width: 100%;
    
/*    margin-left: 100px*/
}
#achievements img {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 1vh;

}


 /* mensagensinha de boas-vindas */

.boas-vindas p {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  color: #333;
  line-height: 1.5;
  margin-top: 1em;
}

.boas-vindas strong {
  color: #0A2240; /* Azul escuro do título */
  font-weight: bold;
}

.boas-vindas .destaque {
  color: #1A3B7A; /* Azul médio para "Lean Software Development" */
  font-weight: 500;
}