#main-modulo {
    border-radius: 10px;
    padding: 7em;
    background: #FFFFFD;
    position: relative;
    overflow: hidden;
    text-align: center; /* Isso ajuda a centralizar os conte�dos */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Centraliza o t�tulo do m�dulo (n�mero do m�dulo) */
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 1s ease;
    margin: 0;
}

/* Centraliza o conte�do dentro de 'inside' */
#inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
}

#inside img {
        width: 30%;
        position: absolute;
        bottom: 90px; 
        left: 125px
}

/* Ao passar o mouse, esconde o t�tulo e mostra o conte�do */
#main-modulo:hover #title {
    opacity: 0;
}

#main-modulo:hover #inside {
    opacity: 1;
}

#main-modulo:hover {
    background: linear-gradient( to bottom, rgb(5, 9, 6, 0.70), rgb(5, 9, 6, 0.70)); /* Escurece fundo */
    color: aliceblue;
    cursor: pointer;
}


.modulo-buttons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.modulo-buttons button {
    padding: 8px 12px;
    background: #1e4b46;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.modulo-buttons button:hover {
    background: #1565c0;
}

.modal-dynamic-content {
    margin-top: 15px;
}

